* {
	box-sizing: border-box;
}

.masthead {
	width: 100%;
	height: 150px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

.head {
	
	height: 100px;
	width: 960px;
	margin: 0 auto;
}

#name {
	width: 400px;
	height: 40px;
	padding: 30px;
	font-family: 'Berkshire Swash' ;
	font-size: 50px;
	font-weight: bold;
	float: left;
}

a:link#namelink {
	color: black;
}

a:visited#namelink {
	color: black;
}

a:hover#namelink {
	color: rgb(206, 108, 238);
	font-size: 100%;
}

a:active#namelink {
	color: rgb(206, 108, 238);
}

.main-nav {
	float: right;	
	font-size: 20px;
	padding-right: 50px;
	margin-top: 34.5px;
	margin-bottom: 34.5px;
	font-family: poiret one;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: rgb(206, 108, 238);
	font-size: 120%;
}

a:active {
	color: rgb(206, 108, 238);
}
.maincontainer {

    width: 960px;
    height: 960px;
    margin: 0 auto;
    box-sizing: border-box;

}

#mainsection {
	background-image: url("../images/bordercolor.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 650px;
	height: 960px;
	float: left;
	
}

.about {
	width: 345px;
	height: 750px;
	font-size: 20px;
	font-family: 'poiret one';
	text-align: wrap;
	margin: 0 auto;
	margin-top: 125px;
}

h1, h2{
	font-family: 'Berkshire Swash';
}

img {
	height: 200px;
	width: 200px;
	float: left;
	padding-right: 5px;
}

.side {
	background-image: url("../images/framecolor.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 270px;
	height: 270px;
	float: right;
	
}

#connect { 
	
    width: 250px;
    height: 250px;
    padding: 0px;
    margin-top: 35px;
    float: right;

}

.icons {
	display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	left: 25px;
}
.logos {
	height: 50px;
	width: 50px;
}

.tings {
	height: 170px;
	width: 170px;
	padding: 5px;
	border-radius: 20px;

}

img:hover.tings {
	opacity: 0.5;
}
input[type=text] {
	font-size: 20px;
	font-family: poiret one;
}

textarea {
	font-size: 20px;
	font-family: poiret one;
}

input[type=submit] {
	background-color: white;
	border: solid black 1px;
	color: black;
	padding: 10px;
	font-family: poiret one;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
}

#footer {
	text-align: center;
	height: 100px;
	width: 100%;
	font-family: poiret one;
}

@media only screen and (max-width: 980px) {

	.head{
		width: 735px;
	}
	.maincontainer {
		width: 735px;
	}

	#mainsection {
		width: 487px;
	}

	.about {
		width: 258px;
		margin: 0 auto;
		margin-top: 75px;
		font-size: 18px;

	}
	
	.tings {
		width: 115px;
		height: 115px;
	}
	img {
		width: 100px;
		height: 100px;
	}

	input {
		width: 258px !important;
	}

	textarea {
		width: 258px !important;
		height: 230px !important;
	}
	.side {
		width: 202px;
	}

	#connect {
		width: 187px;
		text-align: center;

	}

	.logos {
		width: 40px;
		height: 40px;
	}

}

@media only screen and (max-width: 768px) {

	body {
		display: block;
	}

	.head{
		width: 633px;
	}

	#name {
		float: left;
		width: 300px;
		font-size: 35px;
	}

	.main-nav {
		font-size: 18px;
		float: right;
	}
	.maincontainer {
		width: 633px;
	}

	#mainsection {
		width: 633px;

	}

	.about {
		width: 375px;
		margin: 0 auto;
		margin-top: 75px;
		font-size: 18px;

	}
	
	.tings {
		width: 115px;
		height: 115px;
	}
	img {
		width: 250px;
		height: 250px;
	}

	input {
		width: 350px !important;
	}

	textarea {
		width: 350px !important;
		height: 230px !important;
	}
	.side {
		width: 270px;
		position: absolute;
		top: 1010px;
		left: 235px;
	}

	#connect {
		width: 250px;
		margin-top: 30px;
		margin-right: 20px;

	}

	.logos {
		width: 40px;
		height: 40px;
	}

	footer {
		margin-top: 200px;
	}

}

@media only screen and (max-width: 640px) {

	body {
		display: block;
	}

	
	.head{
		width: 480px;

	}

	#name {
	
		width: 300px;
		font-size: 35px;
		
	}

	#namelink {
		position: relative;
		left: 105px;
	}

	.main-nav {
		font-size: 18px;
		padding: 0px;
		margin: 0px;
		text-align: center;
		position: relative;
		right: 135px;
		top: 25px;
		
	}
	.maincontainer {
		width: 480px;
	}

	#mainsection {
		width: 480px;

	}

	.about {
		width: 280px;
		margin: 0 auto;
		margin-top: 75px;
		font-size: 15px;


	}
	
	.tings {
		width: 115px;
		height: 115px;
	}
	img {
		width: 290px;
		height: 200px;

	}

	input {
		width: 260px !important;
	}

	textarea {
		width: 260px !important;
		height: 230px !important;
	}
	.side {
		width: 270px;
		margin-right: 166px;
		position: absolute;
		top: 820px;
		left: 188px;
	}

	#connect {
		width: 250px;
		margin-top: 30px;
		margin-right: 20px;

	}

	.logos {
		width: 40px;
		height: 40px;
	}

	footer {
		text-align: center;
	}

}



